.action-menu {
  position: absolute;
  background-color: var(--bg-mild);
  border: 1px solid var(--text);
  border-radius: var(--radius-small);
  z-index: 1000;
  overflow: hidden;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.3s ease-out;
}
.action-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  color: var(--text);
  cursor: pointer;
  transition: background-color 0.2s;
}
.action-menu-item:hover {
  background-color: var(--bg-hover);
}
.action-menu-item.delete:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
.action-music-icon {
  width: .9rem;
  height: .9rem;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
}
.action-music-icon#action-music-edit-icon {
  mask-image: url(../images/music-actions/pen.svg);
}
.action-music-icon#action-music-delete-icon {
  mask-image: url(../images/music-actions/trashcan.svg);
}
.action-menu-item span {
  font-size: .8rem;
}

/* edit modal */
#edit-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
}

.edit-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  width: 80%;
  height: 80%;
  padding: 20px;
  background: var(--bg-mild);
  border-radius: var(--radius-small);
}

.edit-title {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid var(--accent);
}
.edit-title::before {
  content: '#';
  color: var(--accent);
  padding-right: .2rem;
}


.edit-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.edit-form-item {
  display: flex;
  flex-direction: column;
}

.edit-form-item label {
  font-size: 0.8rem;
  color: var(--accent);
  font-weight: 500;
}

.edit-input {
  width: 100%;
  padding: 10px 12px;
  background-color: var(--bg);
  border: 1px solid var(--bg-hover);
  border-radius: var(--radius-small);
  color: var(--text);
  font-size: 0.8rem;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.edit-input:focus {
  border-color: var(--accent);
}
.edit-input::placeholder {
  color: var(--text);
  opacity: .5;
}

.edit-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.edit-buttons .edit-btn {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 8px 10px;
  font-size: .9rem;
  background: transparent;
  border: none;
  border-radius: var(--radius-small);
} 
.edit-buttons .edit-btn.cancel {
  background-color: var(--bg-hover);
} 
.edit-buttons .edit-btn.save {
  background-color: var(--accent);
}