.left-panel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  overflow: visible;
  transition: all 0.3s ease;
}
.left-panel-item:hover {
  background-color: var(--bg-hover);
}

.left-panel-item .left-panel-item-icon {
  width: 25px;
  height: 25px;
  mask-image: var(--icon-file);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
  transition: all 0.4s ease;
}
.left-panel-item .left-panel-item-icon.active {
  background-color: var(--accent);
}

.left-panel-item .left-panel-item-title {
  font-size: .8rem;
  color: var(--text);
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: visible;
}