.left-panel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5px;
  cursor: pointer;
  overflow: visible;
  transition: all 0.3s ease;
}

.left-panel-item .left-panel-item-icon {
  width: 35px;
  height: 35px;
  mask-image: var(--icon-file);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--accent);
}

@media (max-width: 480px) {
  .left-panel-item .left-panel-item-icon {
    width: 25px;
    height: 25px;
  }
}

.left-panel-item .left-panel-item-title {
  font-size: .8rem;
  color: var(--text);
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: visible;
}