#playerUI-container {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  width: 90%;
  height: calc(40.84px + 15.36px + 10px);
  /* height計算
  padding: 5px * 2 = 10px
  main: (0.6rem + 0.8rem) * 1.6 line-height * 16px = 35.84px
  seekber: 0.6rem * 1.6 line-height * 16px = 15.36px
  => 66.2px
  */
  padding: 5px;
  background-color: var(--bg-mild);
  border-radius: var(--radius-small);
  transition: all 0.3s ease;
}
#playerUI-container.active {
  top: calc(100% - 66.2px - 20px); /* 66.2はplayerUIの高さ、20は下への余白 */
}
@media (max-width: 480px) {
  #playerUI-container.active {
    top: calc(100% - 66.2px - 50px - 20px); /* 66.2はplayerUIの高さ、50はボトムナビゲーションの高さ、20は下への余白 */
  }
}

.playerUI-main-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
}

.playerUI-icon {
  width: 40px; /* 下の #playerUI-duration-current と場所をそろえるため */
  height: 30px;
  mask-image: url('../images/music.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
  opacity: 0.5;
}

.playerUI-text-conatainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-width: 0;
}
#playerUI-title {
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
#playerUI-artist {
  font-size: 0.6rem;
  opacity: 0.8;
}

.playerUI-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#playerUI-button-prev {
  width: 20px;
  height: 20px;
  mask-image: url('../images/player-ui/prev_text.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
  cursor: pointer;
}

.playerUI-button-play-pause-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color: var(--accent);
}
.playerUI-button-play-pause-icon {
  width: 20px;
  height: 20px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
  cursor: pointer;
}
#playerUI-button-pause {
  mask-image: url('../images/player-ui/pause.svg');
}
#playerUI-button-play {
  mask-image: url('../images/player-ui/play.svg');
}

#playerUI-button-next {
  width: 20px;
  height: 20px;
  mask-image: url('../images/player-ui/next_text.svg');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
  cursor: pointer;
}

#playerUI-button-repeat-settings > div {
  width: 20px;
  height: 20px;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: var(--text);
  cursor: pointer;
}
#playerUI-button-repeat {
  mask-image: url('../images/player-ui/repeat.svg');
}
#playerUI-button-repeat-one {
  mask-image: url('../images/player-ui/repeat-one.svg');
}
#playerUI-button-list-order {
  mask-image: url('../images/player-ui/list-order.svg');
}
#playerUI-button-shuffle {
  mask-image: url('../images/player-ui/shuffle.svg');
}

#playerUI-duration-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
}
#playerUI-duration-current,
#playerUI-duration-total {
  font-size: 0.6rem;
  opacity: 0.8;
  min-width: 40px;
  text-align: center;
}
.playerUI-duration-seekbar-container {
  position: relative;
  height: 4px;
}
#playerUI-duration-seekbar-total {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-hover);
  border-radius: 2px;
}
#playerUI-duration-seekbar-current {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--accent);
  border-radius: 2px;
  width: 35%; /* ここを変える */
  z-index: 1;
}